:root{
    --primary:  #132D46;
    --secundary: #30377d;
    --third: #18878e;
    --fourth: #FFFF;
    --fifth: #ad1b4f;
    --sixth: #e9d7ba;
    --text: #000000;
}
.contGlobal{
    display: flex;
    flex-direction: column;
    align-items: center;
}